//! Base colors
$white: #ffffff;
$black: #000;
$gl: #8F95AC;
$bl: #2C2E3E;
$bd: #1E2030;
$red: #FF2D23;

//! Background
$page_background: #ffffff;
$btn_background: #FF0C00;
$nav_background: #2C2E3E;
$header_background: #1E2030;
$base_hover: #8F95AC;

//! Special
$borderColor: rgba(143, 149, 172, 0.4);

//? Select width
$width: 345px;
$paddings: 17px 26px;
$selectWidth: $width - (26 * 2);

//! Font Size
$base_fz: 1rem;
$base_ff: 'Formular', sans-serif;

//! Fonts
$ff_F: 'Formular';

//! Font Style
$I: italic;
$O: oblique;

//! Weight
$th: 100; //* Thin
$el: 200; //* Extra Light
$l: 300; //* Light
$r: 400; //* Regular
$m: 500; //* Medium
$sb: 600; //* SemiBold
$b: 700; //* Bold
$eb: 800; //* Extra Bold
$bol: 900; //* Super
