// Base colors

$white: #ffffff;
$black: #000;

// Bg

$page_background: #ffffff;

// Font Size

$base_fz: 1rem;
$base_ff: 'Arial', sans-serif;
$base_hover: #a53689;

// Fonts

// $ff_MPr: 'Myriad Pro Regular',
// 	sans-serif;
