// -----------------------------------------------
// ---------------HEADER NAV----------------------
// -----------------------------------------------

.nav {
	&.on-scroll {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;

		& .menu {
			padding: 5px 0;
			transition: padding 0.3s linear;
		}
	}
}

.menu {
	position: relative;
	@include fdrjsa_aic;
	background: $nav_background;
	padding: 22px 0 18px 0;
	transition: padding 0.3s linear;
}

.logo {
	display: inline-block;
	width: 100%;
	max-width: 75px;
	overflow: hidden;
}

.menu-list {
	@include fdrjsa_aic;
	flex: 1;
	max-width: 777px;
	padding: 0 5px;

	&__item {
		position: relative;
		@include ff($ff_F, $b, 1.8rem);
		line-height: 22px;
		color: $white;
		padding: 10px 41px 10px 21px;
		border-radius: 100px;
		transition: all 0.3s linear;

		&::after {
			position: absolute;
			content: "";
			width: 12px;
			height: 8px;
			top: 52%;
			right: 25px;
			transform: translate(50%, -50%);
			background: url("../img/svg/arrow-icon.svg") no-repeat center / 100%;
			transition: all 0.3s linear;
		}

		&.active {
			padding: 10px 41px 10px 21px;
			background: $btn_background;

			&::after {
				transform: translate(50%, -50%) scale(1, -1);
				transition: all 0.3s linear;
			}
		}

		&.active {
			background: $btn_background;

			&:hover {
				cursor: pointer;
				background: $btn_background;
				transition: all 0.3s linear;
			}
		}

		&:hover {
			cursor: pointer;
			background: $base_hover;
		}
	}
}

.menu-actions {
	@include fdr;
	padding: 0 5px;
}

.menu-content {
	position: fixed;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 44px);
	grid-row-gap: 53px;
	align-items: center;
	width: 100%;
	max-width: 535px;
	margin-top: 7px;
	background: $nav_background;
	border-radius: 9px;
	padding: 24px 35px;
	-webkit-animation: fadeIn 0.3s linear;
	animation: fadeIn 0.3s linear;
	z-index: 30;

	&::after {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		width: calc(100% - 70px);
		border-top: 1px solid $gl;
		opacity: 0.5;
		transform: translate(-50%, -50%);
	}

	&.afteroff {
		&::after {
			display: none;
		}
	}

	&.hide {
		display: none;
	}
}

.menu-item {
	&__link {
		@include fdrjs_ais;

		&:hover {
			& .menu-item__text .item-description {
				&::after {
					width: 100%;
					transition: width 0.3s linear;
				}
			}
		}
	}

	&__text {
		margin: 0 10px;
	}
}

.menu-icon {
	margin-top: 4px;
}

.item-title {
	@include ff($ff_F, $b, 1.6rem);
	line-height: 20px;
	margin-bottom: 6px;
	color: $white;
}

.item-description {
	position: relative;
	@include ff($ff_F, $r, 1.4rem);
	line-height: 18px;
	color: $gl;

	&::after {
		position: absolute;
		content: "";
		left: 0;
		bottom: -4px;
		border-bottom: 1px solid $gl;
		width: 0;
		transition: width 0.5s linear;
	}
}


@media screen and (max-width: 1120px) {
	.burger-btn {
		display: inline-block;
	}

	.menu {
		@include fdcjsa_aic;
		position: fixed;
		right: -100%;
		height: 100vh;
		padding: 0 20px;
		z-index: 50;
		overflow-y: scroll;
		transition: all 0.5s ease;

		&.active {
			right: 0;
			transition: all 0.5s ease;
		}
	}

	.menu-list {
		@include fdcjs_aic;
		flex: 0;

		&__item {
			margin: 20px 0;
		}
	}

	.menu-content {
		right: 215px;
		left: unset;
		top: 50%;
	}
}

@media screen and (max-width: 768px) {
	.menu {
		padding: 0 10px;
	}

	.menu-content {
		right: 185px;
		grid-template-columns: repeat(1, 1fr);
		max-width: 115px;
		padding: 25px 30px 20px 15px;

		&::after {
			display: none;
		}
	}
}

// -----------------------------------------------
// ------------HEADER CONTENT---------------------
// -----------------------------------------------

.header-content {
	@include fdrjsa_aic;
	min-height: 100%;
	height: 100vh;
	width: 100vw;
	background: $header_background;

	&__row {
		@include fdrjc_aic;
		width: 100%;
		margin: 150px 0 175px 0;
	}

	&__main {
		padding: 0 33px;
	}

	&__image {
		display: block;
		width: 100%;
		max-width: 466px;
		height: 100%;
		background-repeat: no-repeat;
		min-height: 600px;
		margin-top: -30px;
		transform: scale(1);
		transition: all 0.3s linear;
		margin: 0 30px 0 0;

		&:hover {
			transform: scale(1.005) rotate(2deg);
			transition: all 0.3s linear;
		}
	}
}

@media screen and (max-width: 768px) {
	.header-content__image:hover {
		pointer-events: none;
	}
}

.header-title {
	width: 100%;
	max-width: 457px;
}

.title {
	margin-bottom: 47px;
}

.header-form {

	&__actions {
		width: 100%;
		max-width: 720px;
		min-width: 720px;
		@include fdrjsb_ais;
		margin-bottom: 38px;
	}

	&__checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
}

.header-form__checkbox+label {
	display: inline-flex;
	align-items: center;
	margin-right: 20px;
	margin-top: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&::before {
		cursor: pointer;
		content: '';
		display: inline-block;
		width: 18px;
		height: 18px;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid rgba(143, 149, 172, 0.3);
		border-radius: 2px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}
}

.header-form__checkbox:checked+label::before {
	border-color: $red;
	width: 18px;
	height: 18px;
	background: url("../img/svg/checkbox-arrow.svg") no-repeat center / 13px, $red;
}

.header-form__checkbox:not(:disabled):not(:checked)+label:hover::before {
	border-color: $gl;
}

.header-form__checkbox:not(:disabled):active+label::before {
	background-color: $gl;
	border-color: $gl;
}

.header-form__checkbox:focus+label::before {
	box-shadow: 0 0 0 0.2rem rgba(143, 149, 172, 0.3);
}

.header-form__checkbox:focus:not(:checked)+label::before {
	border-color: $red;
}

.header-form__checkbox:disabled+label::before {
	background-color: $white;
}

@media screen and (max-width: 1280px) {
	.header-form {
		&__actions {
			flex-direction: column;
			min-width: auto;
		}
	}

	.input-container {
		margin-top: 15px;
	}
}

/* container for select element */
.select-container {
	position: relative;
	width: 100%;
}

.chevron-down-icon {
	width: 12px;
	height: 8px;
	background: url('../img/svg/arrow-icon.svg') no-repeat center / cover;
}

.select-menu {
	max-width: $width;

	&.active {
		& .select-btn {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		& .options {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}

	&.hidden {
		& .options {
			visibility: hidden;
		}
	}

	&.animated {
		& .options {
			animation-name: fadeInDown;
			-webkit-animation-name: fadeInDown;
			animation-duration: 0.35s;
			animation-fill-mode: both;
			-webkit-animation-duration: 0.35s;
			-webkit-animation-fill-mode: both;
		}
	}

	.select-btn {
		display: flex;
		width: $selectWidth;
		min-width: 240px;
		height: 25px;
		background: transparent;
		color: $white;
		font-size: 14px;
		font-weight: 400;
		border-radius: 4px;
		border: 1px solid $borderColor;
		align-items: center;
		padding: $paddings;
		cursor: pointer;
		justify-content: space-between;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}

	.options {
		position: absolute;
		width: $width;
		min-width: 240px;
		overflow-y: auto;
		max-height: 295px;
		margin-top: 0px;
		opacity: 0;
		padding: 10px 0;
		background: $bd;
		border: 1px solid $borderColor;
		border-top: 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

		.option {
			display: flex;
			width: 331px;
			height: 35px;
			margin: 0 7px;
			padding: 7px 0;
			cursor: pointer;
			align-items: center;
			background: $bd;
			transition: all 0.3s ease;

			&:hover {
				background: rgba(143, 149, 172, 0.1);
				border-radius: 3px;
				transition: all 0.3s ease;
			}

			.option-text {
				font-size: 14px;
				color: $white;
			}

			&>span {
				margin-left: 18px;
			}
		}
	}
}

.select-btn {
	i {
		transition: 0.3s;
	}
}

.select-menu.active {
	.select-btn {
		i {
			transform: rotate(-180deg);
		}
	}

	.options {
		display: block;
		opacity: 0;
		z-index: 10;
		animation-name: fadeInUp;
		-webkit-animation-name: fadeInUp;
		animation-duration: 0.4s;
		animation-fill-mode: both;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-fill-mode: both;
	}
}

.input-name {
	margin-bottom: 12px;
}

.email-input {
	width: $selectWidth;
	font-family: 'Formular';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	background: transparent;
	border: 1px solid $borderColor;
	border-radius: 4px;
	padding: 17px 26px;
	height: 25px;
	color: $white;

	&::-webkit-input-placeholder {
		opacity: 1;
	}

	&::-moz-placeholder {
		opacity: 1;
	}

	&:-ms-input-placeholder {
		opacity: 1;
	}

	&::-ms-input-placeholder {
		opacity: 1;
	}

	&::placeholder {
		opacity: 1;
	}

	&:focus {
		outline: none;
	}
}

.checkbox-container {
	@include fdrjs_ais;
	margin-top: 40px;

	&>p {
		max-width: 357px;
	}
}

.policy-link {
	color: $red;
}


@media screen and (max-width: 768px) {
	.title {
		margin-bottom: 15px;
	}

	.header-title {
		margin: 0 auto;
		text-align: center;
		max-width: 195px;
	}

	.header-content__row {
		flex-direction: column-reverse;
	}

	.header-content__main {
		padding: 0;
	}

	.header-content__image {
		height: auto;
		min-height: 180px;
		max-width: 180px;
		margin-bottom: 15px;
		margin-right: 0;
	}
}

@media screen and (max-width: 420px) {
	.header-content__main {
		padding: 0;
	}

	.header-form {
		@include fdcjc_aic;
	}

	.select-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.select-menu {
		width: unset;
		max-width: unset;

		&.active .options {
			width: 220px;
		}

		& .options .option {
			width: unset;
		}

		& .select-btn {
			width: 188px;
			min-width: 188px;
		}
	}

	.input-container {
		width: 100%;
		@include fdcjc_aic;
	}

	.email-input {
		width: 188px;
	}

	.checkbox-container>p {
		max-width: 240px;
	}
}
