.slider-section {
	&__inner {
		margin: 83px auto 65px auto;
	}
}

.slider-title {
	text-align: center;
}

.slider-container {
	margin-top: 53px;
}

.slide {
	@include fdrjc_aic;
	position: relative;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		max-width: 470px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		background: linear-gradient(360deg, rgba(24, 24, 30, 0.6) 0%, rgba(23, 24, 31, 0) 82.86%);
		border-radius: 5px;
		transition: all 0.3s ease;
	}

	&:hover {
		&::after {
			opacity: 0.5;
			transition: all 0.5s ease;
		}

		& .slider-image {
			transform: scale(1.050);
			transition: all 0.5s ease;
		}
	}
}

.image-wrapper {
	width: 100%;
	max-width: 470px;
	overflow: hidden;
	border-radius: 5px;
}

.slider-image {
	width: 100%;
	max-width: 470px;
	height: 342px;
	-o-object-fit: cover;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
	transform: scale(1.001);
	transition: all 0.3s linear;
}

.rating {
	@include fdrjs_aic;
	position: absolute;
	bottom: 31px;
	left: 50%;
	width: 100%;
	max-width: 375px;
	transform: translateX(-50%);
	z-index: 10;
}

@media screen and (max-width:480px) {
	.rating {
		max-width: 270px;
	}
}

.rating-star {
	cursor: pointer;
	width: 22px;
	height: 22px;

	&--empty {
		background: url('.././img/svg/rating-star-empty.svg') no-repeat center / 100%;
	}

	&--filled {
		background: url('.././img/svg/rating-star-filled.svg') no-repeat center / 100%;
	}

	&:nth-child(even) {
		margin: 0 7px;
	}
}

.swiper-pagination-bullet-active {
	background-color: $red;
}

.swiper-button-prev,
.swiper-button-next {
	width: 50px;
	height: 50px;
	border-radius: 30px;
	background-color: $white;
	opacity: 1;
	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	z-index: 25;
	transition: all 0.3s ease-in-out;

	&:after {
		content: "";
		width: 10px;
		height: 10px;
		position: absolute;
		z-index: 100;
		background: url('.././img/svg/slider-nav-arrow.svg') no-repeat center / 100%;
	}

	&:hover {
		transition: all 0.3s ease-in-out;
	}

	&:active {
		background-color: $red;
		transition: all 0.3s linear;
	}
}

.swiper-button-prev {
	&:hover {
		left: 20px;
	}
}

.swiper-button-next {
	&:after {
		transform: scale(-1, 1);
	}

	&:hover {
		right: 20px;
	}
}

.swiper-pagination {
	&.slider-pagination {
		bottom: -53px;
	}
}
